<header>
  <nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <a class='navbar-brand' href='/'>Tune In</a>
    <button
      class='navbar-toggler'
      type='button'
      data-toggle='collapse'
      data-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav ml-auto'>
        {{#unless isHomeRoute}}
          <li class='nav-item'>
            <a class='nav-link' id='home-link' href='/home'>Home</a>
          </li>
        {{/unless}}
        <li class='nav-item'>
          <a class='nav-link' id='login-link' href='/profile'>Profile</a>
        </li>
        <li class='nav-item' id='dashboard-link' style='display: none;'>
          <a class='nav-link' href='/dashboard'>Dashboard</a>
        </li>
        {{#if logged_in}}
        <li class='nav-item' id='logout' style=''>
          <a  class='nav-link'>
            Logout
          </a>
        </li>
        {{else}}
        <li class='nav-item'>
          <a class='nav-link' id='login-link' href='/login'>Login</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' id='register-link' href='/register'>Register</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>
